* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background:dimgrey;
    padding: 1rem;
    text-align: center;
    color:bisque;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
}

body {
    /*margin-top: 2rem;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url("https://github.com/gubanyisara/gubanyisara.github.io/blob/main/RockPaperScissors_background.jpg") repeat center;
    color:black;
    font-weight: bold;
    /*background-color: black;
    background-size: cover;
    position:sticky;*/
}

.game {
    margin: auto;
    width: 600px;
    height: 450px;/**/
    overflow: auto;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.move {
    background-color:crimson;
    border: 2px solid black;
    padding-left: 3px;
    padding-right: 3px;
}

.blokk, .playerScore, .computerScore {
    color: black;
    float: left;
    width: 33.3%;
    border: 2px solid black;
    padding: 9px;
    box-sizing: border-box;
    font-size: small;
    text-align: center;
    background-color: burlywood;
}

.p-count,.c-count, .t-count{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.score{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    top: 70px;
    z-index: 1;
}

.rock{
    margin: 10px;
    margin-left: 13px;
    float: left;
    padding: 15px;
    width: 125px;
    height: 125px;
    border-radius: 10px;
    background: url("ko_phos.jpg") center;
    outline: none;
    border: 2px solid green;
    cursor: pointer;
    font-size: 0%;
}

.paper{
    margin: 10px;
    float: left;
    padding: 15px;
    width: 125px;
    height: 125px;
    border-radius: 10px;
    background: url("Papir_daru.jpg") center;
    outline: none;
    border: 2px solid lightskyblue;
    cursor: pointer;
    font-size: 0%;
}

.scissor{
    margin: 10px;
    margin-bottom: 20px;
    float: left;
    padding: 15px;
    width: 125px;
    height: 125px;
    border-radius: 10px;
    background: url("ollo.jpg") center;
    outline: none;
    border: 2px solid gray;
    cursor: pointer;
    font-size: 0%;
}

.result {
    text-align: center;
    position: relative;
    margin-top: 5%;
    background-color: aquamarine;
    border: 1px solid black;
    padding-left: 3px;
    padding-right: 3px;
}

.reload {
    display: none;
    margin-top: 2rem;
    padding: 1rem;
    background-color: deepskyblue;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: fantasy, Impact, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}
